<h1>Criar Produto</h1>

<form action="/products/create" method="post">
    <div class="form-control">
        <label for="name">Nome produto: </label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>

    <div class="form-control">
        <label for="image">URL da imagem: </label>
        <input type="text" name="image" placeholder="Insira a URL da imagem">
    </div>

    <div class="form-control">
        <label for="price">Preço produto: </label>
        <input type="number" step="0.010"  name="price" placeholder="Digite o preço do produto">
    </div>

    <div class="form-control">
        <label for="description">Descrição:</label>
       <textarea name="description" placeholder="Descrição do produto"></textarea>
    </div>

    <input type="submit" value="Cadastrar" class="btn">
</form>